<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ESGPARTNER;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=.\MSSQLSERVER2014;Initial Catalog=ESGPARTNER;Persist Security Info=True;User ID=EsgPartNeR_DbUsR;Password=Orh2w9#6" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <!--<error statusCode="400" redirect="Hata/kotusayfa.aspx" />
      <error statusCode="403" redirect="Hata/yasaksayfa.aspx" />
      <error statusCode="404" redirect="Hata/sayfabulunamadi.aspx" />
      <error statusCode="408" redirect="Hata/sitemesgul.aspx" />
      <error statusCode="410" redirect="Hata/sayfatasinmis.aspx" />
      <error statusCode="500" redirect="Hata/serverhata.aspx" />-->
    </customErrors>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <machineKey validationKey="6D5C21D1BFC3BF7D07702EC52149CCFD3A9AEED68A73DBF9C50C618A0B24B38FE1FCF7E8FD95F566B7C969BF262A39BA70846E1EF3C6D47E327C022988265D4B" decryptionKey="AFC21D185712A1D74F765D7AD0BDCBE85EC160BE4B6B674006C3BB8325DDCDE6" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="File">
		  <remove statusCode="404" subStatusCode="-1"/>
		  <error statusCode="404" path="404.html" responseMode="File" prefixLanguageFilePath=""/>
	  </httpErrors>-->
    <!--<rewrite>
      <rules>
        <rule name="Add www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.bitss.com.tr" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.bitss.com.tr/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
    </staticContent>
    <handlers>
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://data.altinkaynak.com/DataService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataServiceSoap"
        contract="Altinkaynak.DataServiceSoap" name="DataServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>